# Ignore EVERYTHING
*

# EXCEPT
!.setup_environment.sh # Script to run to set global variables and symlinks

!i3/**
!i3status
!i3status/**

!lazygit
!lazygit/config.yml

!my_aliases

!nvim
!nvim/**

!tmux
!tmux/**

!.zshrc

# Do not include any sub git projects
*/.git*
