# Ignore EVERYTHING
*

# EXCEPT
# Script to run to set global variables and symlinks
!.setup_environment.sh

!i3
!i3/**
!i3status
!i3status/**

!gnome-terminal
!gnome-terminal/**

!lazygit
!lazygit/config.yml

!my_aliases

!nvim
!nvim/**
nvim/pack

!tmux
!tmux/**

!scripts
!scripts/**
scripts/**/.temp
scripts/omnimed/process-resources
scripts/omnimed/process-resources/**

!.zshrc

!dunst
!dunst/**

# Do not include venv files
**/venv/**
**/__pycache__/**

# Do not include any sub git projects
*/.git*
