# Ignore EVERYTHING
*

# EXCEPT
# Script to run to set global variables and symlinks
!.setup_environment.sh

!i3
!i3/**
!i3status
!i3status/**

!lazygit
!lazygit/config.yml

!my_aliases

!nvim
!nvim/**
nvim/pack

!tmux
!tmux/**

!scripts
!scripts/**
scripts/**/.temp

!.zshrc

# Do not include venv files
**/venv/**
**/__pycache__/**

# Do not include any sub git projects
*/.git*
